.hotels-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.hotels-filter {
    display: flex;
    align-items: center;
    margin: 30px 10px;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
}

.hotels-stars-container {
    display: flex;
    align-items: center;
    margin: 15px 5px;
}

.hotels-btn-container {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

