.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.filter {
    display: flex;
    align-items: center;
    margin: 10px 10px 30px 10px;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
}

.stars-container {
    display: flex;
    align-items: center;
}

.hotels-btn-container {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.hotel-container {
    width: 95%;
    margin-bottom: 20px;
    padding: 20px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: grey;
}

.hotel-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.hotel-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.hotel-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 15px;
}

@media only screen and (max-width: 880px) {
    .hotel-content {
        justify-content: center;
    }

    .hotel-info {
        width: 100%;
        margin-top: 15px;
    }
}
