.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.btn-back {
    display: flex;
    align-self: flex-start;
}

.rooms-filter {
    display: flex;
    align-items: center;
    margin: 10px 10px 30px 10px;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
}

.rooms-btn-container {
    display: flex;
    justify-content: space-between;
    width: 230px;
}

.img-placeholder {
    max-width: 400px;
    width: 100%;
    max-height: 450px;
    height: 100%;
}

.room-container {
    width: 95%;
    margin-bottom: 20px;
    padding: 20px;
}

.room-header {
    flex-wrap: wrap;
    padding: 20px;
}

.room-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.room-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.room-occupancy {
    margin-top: 15px;
}

.rooms-poster-container {
    width: 100%;
    background-color: rgba(136, 136, 136, 0.404);
    border-radius: 10px;
    margin-bottom: 15px;
}

.rooms-poster{
    font-size: 70px;
    text-align: center;
    color: #999;
    margin: 30px;
}

@media only screen and (max-width: 880px) {
    .room-content {
        justify-content: center;
    }

    .room-info {
        width: 100%;
        margin-top: 15px;
    }

    .rooms-poster {
        font-size: 35px;
    }
}